* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* navbar */
.top-bar {
  background: #0f172a;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.top-bar .pulse {
  display: flex;
  align-items: center;
  gap: .2rem;
}
.top-bar .pulse img {
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.pulse h2 {
  color: #fff;
}
.nav-comp {
  display: none;
}
.top-bar .pulse .bar-home {
  background: #2e77d0;
  padding: 7px;
  cursor: pointer;
}
.call-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.call-nav button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease;
}
.call-nav button:hover {
  filter: brightness(0.8);
}
.call-nav .menu-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.call-nav .menu-icon:hover {
  transform: scale(1.1);
}

nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #0f172a;
  transition: right 0.4s ease;
  z-index: 999;
}
nav.active {
  right: 0;
}
nav .close-icon {
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  text-align: right;
  margin-right: 10px;
}
.sign-up {
  padding: 0 2rem;
  line-height: 3rem;
}
.sign-up a {
  color: #fff;
  text-decoration: none;
}
.sign-up a:hover {
  text-decoration: underline;
}
.divider {
  width: 16px;
  height: 2px;
  background: #fff;
  margin: 2rem 0;
}
.nav-links {
  padding: 0 2rem;
  line-height: 3rem;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
}
.nav-links a:hover {
  text-decoration: underline;
}

/* dashboard */
.dashboard {
  padding: 5rem 1rem;
  background: #475b8a;
  min-height: 100vh;
}

/* trending songs & other dashboard components */
.dash-comps {
  margin-top: 2.5rem;
  color: #fff;
}
.dash-comps h3:hover {
  text-decoration: underline;
}
.rows {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}
.rows a {
  color: #fff;
  text-decoration: none;
}
.rows article {
  padding: 0.5rem 0.5rem 1.5rem;
  transition: .3s ease;
}
.rows article:hover {
  background: #0f172a;
  border-radius: 8px;
}
.rows img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 5px;
}

/* footer links */
.footer-links {
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}
.footer-links .links {
  margin-bottom: 2rem;
}
.links li {
  line-height: 1.5rem;
  list-style: none;
}
.links li a {
  color: #c7c7c7;
  text-decoration: none;
}
.links li a:hover {
  text-decoration: underline;
}
.links li:first-child {
  color: #fff;
  font-weight: 700;
}
.socials {
  border-bottom: 1px solid #818181;
  display: flex;
  gap: 1rem;
}
.socials img {
  width: 40px;
  border-radius: 50%;
  background: #818181;
  padding: 10px;
  margin-bottom: 2rem;
  transition: .3s ease;
}
.socials img:hover {
  filter: brightness(1.1);
}
.bottom-links {
  line-height: 1.5rem;
  margin-top: 2rem;
}
.bottom-links ul {
  display: Flex;
  gap: 1rem;
}
.bottom-links ul li {
  list-style: none;
}
.bottom-links ul li a {
  color: #c7c7c7;
  text-decoration: none;
  font-size: 14px;
}
.bottom-links ul li a:hover {
  text-decoration: underline;
}
.bottom-links p {
  color: #c7c7c7;
}
.bottom-links button {
  padding: 8px;
  border-radius: 20px;
  border: 2px solid #aaaaaa;
  color: #fff;
  font-weight: 700;
  background: transparent;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.bottom-links button:hover {
  transform: scale(1.1);
  border: 2px solid #dadada;
}
.bottom-links button img {
  width: 16px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
  text-align: center;
}
.footer p {
  color: #c7c7c7;
  font-weight: 700;
  cursor: pointer;
}
.footer .home {
  color: #fff;
}
.footer img {
  width: 30px;
  cursor: pointer;
}
.footer img:hover {
  filter: brightness(1.2);
}
.footer .premium img {
 background: #fff;
 border-radius: 50%;
}

/* Library Popup */
.library-popup {
  position: fixed;
  bottom: 6rem;

  border-radius: 8px;
  background: #2e2;
  padding: 1rem;
  margin: 0 .5rem;
  z-index: 1000;
}
.popup-content {
  color: #fff;
}
.popup-content h3 {
  margin-bottom: 10px;
}
.popup-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.popup-actions button {
  padding: 1rem 1.5rem;
  border-radius: 999px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.popup-actions button.primary {
  background: #fff;
  color: #2e77d0;
  font-weight: 700;
}
.popup-actions button.ghost {
  background: transparent;
  color: #fff;
}

/* artist details */
.details {
  padding: 5rem 1rem;
  background: #475b8a;
  color: #fff;
  min-height: 100vh;
}
.artist-image {
  display: flex;
  justify-content: center;
}
.artist-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.artist-info {
  margin-top: 20px
}
.artist-info h1 {
  margin-bottom: 10px;
}
.artist-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.artist-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.artist-buttons img {
  width: 25px;
  cursor: pointer;
}
.follow-btn {
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid #aaaaaa;
  color: #fff;
  background: transparent;
  cursor: pointer;
}
.kebab-btn {
  font-size: 30px;
  color: #fff;
  border: none;
  background: transparent;
  cursor: pointer;
}
.play-btn img {
  width: 70px;
  cursor: pointer;
}

/* Song details */
.song-image {
  display: flex;
  justify-content: center;
}
.song-image img {
  width: 200px;
  height: 200px;
}

/* Album details */
.album-image {
  display: flex;
  justify-content: center;
}
.album-image img {
  width: 200px;
  height: 200px;
}

/* for large screens */
@media  screen and (min-width: 1024px) {
  .top-bar {
    height: 70px;
  }
  .footer {
    display: none;
  }
  .top-bar .pulse {
    gap: 2rem;
  }
  .nav-comp {
    display: block;
  }
  .pulse h2 {
    display: none;
  }
  .nav-comp {
    display: flex;
    gap: .5rem;
  }
  .top-bar .pulse .bar-home:hover {
    filter: brightness(0.9);
  }
  .pulse .bar-search {
    background: #2e77d0;
    border-radius: 999px;
    display: flex;
    align-items: center;
    width: 300px;
    padding: 5px;
    gap: .5rem;
  }
  .pulse .bar-search img {
    background: transparent;
    filter: brightness(5);
    width: 30px;
  }
  .pulse .bar-search input {
    height: 100%;
    width: 80%;
    background: transparent;
    border: none;
    border-right: 2px solid #0f172a;
    outline: none;
    color: #fff;
  }
  .pulse .bar-search input::placeholder {
    color: #dadada;
  }
  .popular-artists img {
    border-radius: 50%;
  }
  .sign-up {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
  }
  .divider {
  width: 2px;
  height: 16px;
  background: #fff;
  margin: 0 10px 0 -40px;
}
  .nav-links {
    display: flex;
    gap: .5rem;
  }
  .nav-links h4:nth-child(4),
  .nav-links h4:nth-child(5) {
    display: none;
  }
  nav {
    right: 100px;
    width: 50%;
    height: 65px;
    top: 5px;
    background: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
  }
  .call-nav .menu-icon,
  nav .close-icon {
    display: none;
  }
  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/*
@media screen and (min-width: 1024px) {
  .navbar nav {
    position: fixed;
  }
  .navbar nav ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
  }
  .navbar nav ul li {
    margin: 0;
  }
  .navbar nav ul li a {
    color: var(--neutral-color);
    font-weight: 600;
  }
  .navbar nav ul li a:hover {
    background: #475569;
  }
  .menu-icon {
    display: none;
  }
  .form-action {
    margin: 30px auto 0;
    width: 50%;
  }
  form {
   width: 50%;
   margin: 0 auto;
  }
} */